.lobby-container {
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .name-container {
    width: 255px;
  }
  
  .room-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }